body {
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.search {
    padding: 20px 0;
    text-align: center;
}

.search input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

.search button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search select {
    padding: 10px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.product-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.navigation {
    margin-top: 20px;
}

.navigation button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Stili per il logo */
.logo {
    position: absolute;
    top: 1px;
    left: 1px;
}

.logo-img {
    width: 200px; /* Regola la dimensione del logo */
    height: auto;
}

/* Stili per i moduli di registrazione e login */
.registration,
.registrationcon,
.login-form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.registration .form-group,
.registrationcon .form-group,
.login-form .form-group {
    margin-bottom: 20px;
}

.registration label,
.registrationcon label,
.login-form label {
    font-weight: bold;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="password"],
.registrationcon input[type="id"],
.registrationcon input[type="text"],
.registrationcon input[type="email"],
.registrationcon input[type="password"],
.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration button[type="submit"],
.registrationcon button[type="submit"],
.login-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

